.GirlBoardBackground {
  position: relative;
  left: 50px;
  top: 129px;
  height: 15em;
  width: 78.5em;
  background-color: #F1E7E5;
  border-color: black;
  border-style: solid;
  border-width: 4px;
}
